name: Canary Build
on:
  workflow_call:
    secrets:
      CANARY_DOCKER_BUILD:
        required: true
env:
  FORCE_COLOR: 1
jobs:
  canary:
    runs-on: ubuntu-latest
    name: Canary
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: true
      - uses: actions/setup-node@v3
        env:
          FORCE_COLOR: 0
        with:
          node-version: '18.12.1'
          cache: yarn

      - name: Set up Git
        run: |
          git config --global pull.rebase true
          git config --global user.name "Ghost CI"
          git config --global user.email "ghost@example.com"

      - name: Set env variables
        if: github.ref == 'refs/heads/main'
        run: |
          echo "canary_archive=ghost-canary" >> $GITHUB_ENV
          echo "CANARY_BUILD_INPUTS={\"version\":\"canary\",\"environment\":\"staging\"}" >> $GITHUB_ENV

      - name: Set env variables
        if: github.ref == 'refs/heads/arch'
        run: |
          echo "canary_archive=ghost-canary-arch" >> $GITHUB_ENV
          echo "CANARY_BUILD_INPUTS={\"version\":\"canary-arch\",\"environment\":\"staging\"}" >> $GITHUB_ENV

      - run: yarn
      - run: yarn main:submodules

      - run: if [ -n "$(git status --porcelain)" ]; then git add ghost/core/content/themes/casper && git commit -m "Updated Casper"; fi

      - uses: asdf-vm/actions/install@v2
        with:
          tool_versions: |
            semver 3.3.0

      - run: |
          CURRENT_TAG=$(git describe --tags --abbrev=0 --match=v*)
          echo $CURRENT_TAG
          BUMPED_VERSION=$(semver bump minor $CURRENT_TAG)
          echo $BUMPED_VERSION
          BUILD_STRING=$(git rev-parse --short HEAD)
          echo $BUILD_STRING
          echo "NEW_VERSION=$BUMPED_VERSION-pre.0+$BUILD_STRING" >> $GITHUB_ENV

      - run: |
          admin_tmp=$(mktemp)
          jq ".version = \"$NEW_VERSION\"" ghost/admin/package.json > $admin_tmp
          cat $admin_tmp && mv $admin_tmp ghost/admin/package.json
          chmod 644 ghost/admin/package.json
          core_tmp=$(mktemp)
          jq ".version = \"$NEW_VERSION\"" ghost/core/package.json > $core_tmp
          cat $core_tmp && mv $core_tmp ghost/core/package.json
          chmod 644 ghost/core/package.json

      - run: yarn archive

      - uses: actions/upload-artifact@v3
        with:
          name: ${{ env.canary_archive }}
          path: 'ghost/core/ghost-*.tgz'
          retention-days: 4

      - name: Invoke Docker container build
        uses: aurelien-baudet/workflow-dispatch@v2
        with:
          token: ${{ secrets.CANARY_DOCKER_BUILD }}
          workflow: .github/workflows/deploy.yml
          ref: 'refs/heads/main'
          repo: TryGhost/Ghost-Moya
          inputs: ${{ env.CANARY_BUILD_INPUTS }}
          wait-for-completion-timeout: 10m
          wait-for-completion-interval: 20s