name: Canary Build
on: workflow_call
env:
  FORCE_COLOR: 1
jobs:
  canary:
    runs-on: ubuntu-latest
    name: Canary
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: true
      - uses: actions/setup-node@v3
        env:
          FORCE_COLOR: 0
        with:
          node-version: '16.14.2'
          cache: yarn

      - name: Set up Git
        run: |
          git config --global pull.rebase true
          git config --global user.name "Ghost CI"
          git config --global user.email "ghost@example.com"

      - name: Set env variables
        run: |
          echo "bump_type=preminor" >> $GITHUB_ENV
          echo "canary_archive=ghost-canary" >> $GITHUB_ENV

      - run: yarn
      - run: yarn main:submodules

      - run: echo "ghost_hash=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
      - run: if [ -n "$(git status --porcelain)" ]; then git add ghost/core/content/themes/casper && git commit -m "Updated Casper"; fi

      - run: npm version ${{ env.bump_type }} --preid="pre.$ghost_hash"
        working-directory: ghost/core

      - run: npx --yes daniellockyer/monobundle
        working-directory: ghost/core

      - run: npm pack
        working-directory: ghost/core

      - uses: actions/upload-artifact@v3
        with:
          name: ${{ env.canary_archive }}
          path: 'ghost/core/ghost-*.tgz'
          retention-days: 4
