on:
  workflow_call:
    inputs:
      branch:
        description: 'Branch to build from'
        type: string
        required: false
        default: 'main'
      version:
        description: 'Version to build'
        type: string
        required: true
env:
  FORCE_COLOR: 1
jobs:
  canary:
    runs-on: ubuntu-latest
    name: ${{ inputs.branch }} - ${{ inputs.version }}
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ inputs.branch }}
          fetch-depth: 0
          submodules: true
      - uses: actions/setup-node@v3
        env:
          FORCE_COLOR: 0
        with:
          node-version: '18.12.1'
          cache: yarn

      - name: Set up Git
        run: |
          git config --global pull.rebase true
          git config --global user.name "Ghost CI"
          git config --global user.email "ghost@example.com"

      - run: yarn

      - run: yarn main:submodules
        if: github.ref == 'refs/heads/main'

      - name: Last 5 commits
        run: git log -5 --pretty=oneline

      - run: if [ -n "$(git status --porcelain)" ]; then git add ghost/core/content/themes/casper && git commit -m "Updated Casper"; fi

      - run: yarn version --no-git-tag-version --new-version ${{ inputs.version }}
        working-directory: ghost/core
      - run: yarn version --no-git-tag-version --new-version ${{ inputs.version }}
        working-directory: ghost/admin

      - run: npm pack
        working-directory: ghost/core

      - uses: actions/upload-artifact@v4
        with:
          name: ghost-custom-${{ github.ref_name }}
          path: 'ghost/core/ghost-*.tgz'
          retention-days: 4
